* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

body {
    background: #626464; /* Changed background color */
    color: #f5f5f5;
    font-family: 'Lora', serif;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center all content horizontally */
    min-height: 100vh;
    margin: 0;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%; 
    background: #B2BABB; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 24px; 
    color: #333;
    text-decoration: none;
    font-weight: 600;
}

.nav a {
    font-size: 16px; 
    color: #333;
    text-decoration: none;
    font-weight: 500;
    margin: 0 15px; 
}

.nav a:hover,
.nav a.active {
    color: #00abf0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-myself {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-myself a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-myself a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-myself {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #00abf0;
    color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-parent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-parent a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-parent a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-parent {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #00abf0;
    color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-sibling {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-sibling a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-sibling a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-sibling {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #00abf0;
    color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    cursor: pointer;
}

.dropdown-favourite {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-favourite a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-favourite a:hover {
    background-color: #00abf0;
    color: white;
}

.dropdown:hover .dropdown-favourite {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #00abf0;
    color: white;
}

.home {
    min-height: 100vh;
    display: flex;
    flex-direction: row; 
    align-items: center;
    padding: 100px 10%; 
}

.home-content {
    text-align: left; 
    max-width: 600px; 
    margin: 0 auto;
    align-self: flex-start;
    font-family: 'Lora', serif; 
}

.home-content h1 {
    font-size: 42px; 
    font-weight: 700;
    line-height: 1.2;

}

.home-content h3 {
    font-size: 24px; 
    font-weight: 700;
    color: #00abf0;
}

.home-content p {
    font-size: 18px; 
    margin: 20px 0 40px;
}

.home-content video {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 40px auto 50px; /* Add margin-bottom to create space */
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.images {
    flex: 1;
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 70px;
    right: 100px;
    margin-top: 20px; /* Add margin-top to create space */
}

.images img {
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.images:hover .profile-image {
    left: 45%;
}

footer {
    margin-top: auto; 
    margin-bottom: -100px; 
    background: #333; 
    color: #fff; 
    text-align: center;
    padding: 32px 0;
    width: 100%;
    border-top: 1px solid #fff; 
    box-sizing: border-box; 
}

.social-links a {
    color: #fff; 
    text-decoration: none;
    font-size: 24px;
    margin: 0 10px;
}

.social-links a:hover {
    color: #00abf0; 
}
